<div id="slider">
  <input id="slider-element" type="range" min="1" max="4" class="slider" />
  <p class="note">Current value: <span id="slider-value">0</span></p>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <ul id="countries">
        <% @countries.each do |country| %>
        <li class="country classification_<%= country.classification %>">
          <div class="row">
            <div class="span3">
              <%= image_tag 'http://placehold.it/250x150' %>
            </div>
            <div class="span9">
              <h2><%= country.title %></h2>
              <ul class="row weather">
                <li class="temp span3">
                  20C
                </li>
                <li class="span3">
                  20C
                </li>
                <li class="span3">
                  20C
                </li>
              </ul>
            </div>
          </div>
          <div class="row meta">
            <div class="span9">
              500 overwinteraars
            </div>
            <div class="span3">
              <%= link_to 'Boek Die Trip!', country_path(country), { :class => 'btn btn-large btn-warning pull-right' } %>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

