// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#countries, #countries > li,
.stats, .stats > li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#countries {

  li.country { display: none; margin: 20px 0; }

  .image {
    text-align: center;
    position: relative;
    a {
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  h2 {
    margin: 0;
    padding: 0;
    line-height: 60px;
  }
  img {
    width: 100%;
  }

  .stats {
    text-align: center;
  }

  .meta {
    margin-top: 20px;
  }
}

.navbar { margin-bottom: 0; }
#slider {
  background: #ddd; 
  height: 300px;
  text-align: center;

  .slider {
    margin: 40px 0;
    width: 80%;
  }
}