// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#countries, #countries > li,
.stats, .stats > li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#countries {

  li.country { display: none; margin: 20px 0; }

  .image {
    text-align: center;
    position: relative;
    height: 150px;
    a {
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  h2 {
    margin: 0;
    padding: 0;
    line-height: 60px;
  }
  img {
    width: 100%;
  }

  .stats {
    text-align: center;
  }

  .meta {
    margin-top: 20px;
  }
}

.navbar { margin-bottom: 0; }
#slider {
  position: relative;
  text-align: center;

  .slider-image { display: none; }
  .slider-image:first-child { display: block; }

  #slider-container {
    position: absolute;
    top: 84%;
    width: 100%;
    height: 10%;
    margin: 10px 0;
    .slider {
      width: 80%;
    }
    ul, li { list-style: none; padding: 0; margin: 0; pointer-events: none; }
    ul { position: absolute; top: 0; left: 10%; width: 80%; height: 100%; }
    li, h3 { height: 100%; }
    li { width: 25%; float: left; text-align: center; 
      h3 {
        color: #fff;
        margin: 6% 0;
        text-align: center;
        line-height: 100%;
      }
    }
  }
}

input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    width: 100%;
    height: 100%;
    background: #1e4452;
    border-radius: 10px;
}


input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none; 
    -moz-apperance:none; 
    width:25%; 
    height: 80px;
    border-radius: 10px;
    border-bottom: #317da2 10px solid;
    background: #2b8bb9;
}